<?xml version="1.0"?>
<model>
  <name>camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ZP Yang</name>
    <email>yang2zhanpeng@gmail.com</email>
  </author>
  <description>Model of the Purdue engineering bulidings and main campus.</description>
</model>