<launch>
    <node name="rosbag_plau" pkg="rosbag" type="play" args="-s 15 $(find visnet)/data/mocap_live_all_2022-05-19-19-59-27.bag -l"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="qualisys_map" args="0 0 0 0 0 0 map qualisys"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find visnet)/config/bag.rviz" />
</launch>
  <!-- vim: set et fenc=utf-8 ff=unix ft=xml sts=0 sw=2 ts=2 : -->