<launch>
  <!-- <node pkg="visnet" name="camera_test" type="camera_test.py" output="screen"/>  -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find visnet)/config/camera.rviz" /> -->
  <rosparam command="load" file="$(find visnet)/launch/camera_config.yml"/>

  <arg name="device_id" default="0" />
  <arg name="image_width" default="1920" />
  <arg name="image_height" default="1080" />
  <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen" >
    <param name="device_id" value="$(arg device_id)" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
  </node>
</launch>