<!-- launch this node on one machine to broadcast pose to all cameras -->
<launch>
	<rosparam command="load" file="$(find visnet)/launch/camera_config.yml"/>
    <!-- arguments for qualisys node -->
    <arg name="server" default="192.168.123.202"/>
    <arg name="rate_limit" default="10"/>

    <!-- <node pkg="visnet" name="$(arg cam_name)/qualisys_node" type="qualisys_node.py" output="screen"/> -->
    <node pkg="qualisys" name="qualisys" type="node" output="screen">
        <param name="server" value="$(arg server)"/>
        <param name="rate_limit" value="$(arg rate_limit"/>
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="qualisys_map" args="0 0 0 0 0 0 map qualisys"/>
    <arg name="record" default="0"/>
    <node pkg="rosbag" name="rosbag_record_cam" type="record" 
    	args="-o $(find visnet)/data/mocap_live -e /qualisys/(.*)/pose /camera_(.*)/image_raw/compressed/compressed /camera_(.*)/camera_info" if="$(arg record)"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find visnet)/config/mocap.rviz" />
</launch>